<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet' type='text/css' src='static/css/addfoods.css'>
<script src="static/js/addfood.js"></script>
</head>

<body>

<div class="center">
<h1>Diet Nutrient Calculator</h1>
  <div class="InputFields" id="inputs">
  <div id="input-default" style="display:none" class="num-input">
  <h2>NAME</h2>
  <button onclick="deleteParam()" class="delete-btn">X</button>
  <input type="number" class="param-input">
  </div>
</div>

<h3>key<h3>
<input type="text" id="user-key" style="position: relative;">

<h3>NAME<h3>
<input type="text" id="food-name" style="position: relative;">

<h3>limit<h3>
<input type="text" id="food-limit" style="position: relative;">

<h3>photo<h3>
<input type=file name=file id="photo-file">

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" style="position: relative;">
    {% for i in tags %}
    <a href="#" id="option-{{ tags.index(i) }}" onclick="addParam({{ tags.index(i) }})">{{ i }}</a>
    {% endfor %}
  </div>
</div>

<button onclick="sendParams()" class="dropbtn">Submit</button>

</div>

</body>
</html>
