{% extends 'base.html' %}
{% block head %}
<style>
body
          {
          background-image:url('https://storage.googleapis.com/bucket-dietary/static/die.jpg');

          }
    </style>
{% endblock %}


{% block body %}

<h1 style =text-align:center;color:#B2D3C2;>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Dietbot</h1><br>
<h1 style =text-align:center;color:#FB607F;float:right;>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Chat with our Dietbot to know your meal plan</h1><br><br><br>
<h2 style =text-align:center;color:#FEDC56;font-style:italic;float:right;>"YOUR DIET IS A BANK ACCOUNT<br> GOOD FOOD CHOICES ARE <br>GOOD INVESTMENTS"</h2>
    

{% endblock %}